\---
layout: default
title: Important Dates
\---

%table.bordered-table.zebra-striped
  %tbody
    %tr
      %th
        Paper Submission Deadline
      %th
        %del
          2nd March 2012
        &nbsp;
        7th March 2012
    %tr
      %th
        Notification
      %th
        %del
          16th March 2012
        &nbsp;
        20th March 2012
    %tr
      %th
        Paper Camera-Ready Deadline
      %th
        2nd April 2012
    %tr
      %th
        Early registration for ICWSM'12
      %th
        6th April 2012
    %th
      Workshop
    %th
      4th June 2012