\---
layout: default
title: Overview
\---

%p
  Social media study and analysis brings researchers from many fields into a single setting. Even though the tasks of these researchers are varied, data visualization and analytics plays an important role. For industry and academics alike, visualization of social media data helps with hypothesis formation and supports the explanation of phenomena.

%p
  The Workshop on Social Media Visualization (SocMedVis) will be held in conjunction with
  %a{ :href => "http://www.icwsm.org/" } the International AAAI Conference on Weblogs and Social Media (ICWSM'12)
  in Dublin on 4th June 2012. The workshop is a venue for presentation of research and applications of visualization of social media data.

%p
  The goal of the workshop is to bring together researchers and industry practitioners interested in visual and interactive techniques for social media analysis, particularly in social sciences and humanities as well as in industry and to discuss ideas, techniques, and applications to support social media analysis.

%h3
  News
%ul.unstyled
  %li
    %span.label.success
      New
    &nbsp;
    %b
      11th Jan. 2012:
    The website is live.
      