\---
layout: default
title: Organizers & Program Committee
\---

%h2
  Organizers
%ul.unstyled
  %li
    = succeed ", University College Dublin, daniel&#46;archambault&#64;ucd&#46;ie" do
      %a{ :href => "http://www.cliquecluster.org/content/daniel-archambault" } Daniel Archambault
  %li
    = succeed ", IBM Research, eser&#64;us&#46;ibm&#46;com" do
      %a{ :href => "http://researcher.ibm.com/view.php?person=us-eser" } Eser Kandogan
  %li
    = succeed ", University College Dublin, martin.harrigan&#64;ucd&#46;ie" do
      %a{ :href => "http://www.martinharrigan.ie" } Martin Harrigan
%h2
  Program Committee
%p
  To be announced.