\---
layout: default
title: Organizers
\---

%ul.unstyled
  %li
    = succeed ", University College Dublin" do
      %a{ :href => "http://www.cliquecluster.org/content/daniel-archambault" } Daniel Archambault
  %li
    = succeed ", IBM Research" do
      %a{ :href => "http://researcher.ibm.com/view.php?person=us-eser" } Eser Kandogan
  %li
    = succeed ", University College Dublin" do
      %a{ :href => "http://www.martinharrigan.ie" } Martin Harrigan