<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <title>
      Workshop on Social Media Visualization (SocMedVis)
    </title>
    <meta content='Workshop on Social Media Visualization (SocMedVis)' name='description' />
    <link href='/css/bootstrap.css' rel='stylesheet' type='text/css' />
    <link href='/css/style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='topbar'>
      <div class='fill'>
        <div class='container'>
          <ul class='nav'>
            <li class='active'>
              <a href='/overview.html'>
                Overview
              </a>
            </li>
            <li>
              <a href='/call_for_papers.html'>
                Call for Papers
              </a>
            </li>
            <li>
              <a href='/important_dates.html'>
                Important Dates
              </a>
            </li>
            <li>
              <a href='/submissions.html'>
                Submissions
              </a>
            </li>
            <li>
              <a href='/schedule.html'>
                Schedule
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='jumbotron masthead'>
      <div class='inner'>
        <div class='container'>
          <h1>
            Workshop on Social Media Visualization (SocMedVis)
          </h1>
          <p class='lead'>
            in conjunction with the AAAI Conference on Weblogs and Social Media (ICWSM"12)
          </p>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='content'>
        <div class='page-header'>
          <h1>
            {{ page.title }}
          </h1>
        </div>
        <div class='row'>
          <div class='span14'>
            <p>{{ content }}</p>
          </div>
        </div>
      </div>
      <footer>
        <p>
          FOOTER
        </p>
      </footer>
    </div>
  </body>
</html>
