!!! 5 
%html
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html; charset=utf-8" }
    %title
      Workshop on Social Media Visualization (SocMedVis)
    %meta{ :name => "description", :content => "Workshop on Social Media Visualization (SocMedVis)" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/bootstrap.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css" }
  %body
    .topbar
      .fill
        .container
          %ul.nav
            %li.active
              %a{ :href => "/index.html" } Overview
            %li
              %a{ :href => "/call_for_papers.html" } Call for Papers
            %li
              %a{ :href => "/important_dates.html" } Important Dates
            %li
              %a{ :href => "/submissions.html" } Submissions
            %li
              %a{ :href => "/organizers.html" } Organizers
            %li
              %a{ :href => "/schedule.html" } Schedule
    .jumbotron.masthead
      .inner
        .container
          %h1
            Workshop on Social Media Visualization (SocMedVis)
          %p.lead
            in conjunction with
            %a{ :href => "http://www.icwsm.org/" } the International AAAI Conference on Weblogs and Social Media (ICWSM'12)
    .container
      .content
        .page-header
          %h1
            {{ page.title }}
        .row
          .span14
            %p
              {{ content }}
      %footer
        %p
          Created with
          %a{ :href => "https://github.com/mojombo/jekyll" } Jekyll
          and
          = succeed "." do
            %a{ :href => "https://github.com/connatser/hyde" } Hyde